$green: #B8CB31;
$green-light: #DCE66B;
$green-highlight: #E2E03D;
$green-shadow: #97A824;
$green-medium: #B2C535;
$brown: #47271A;
$brown-light: #90602F;
$white: #FDFFC0;
$back: #ffffff;

body {
    margin: 0;
    padding: 0;
    background: $back;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &-content{
        width: 370px;
        height: 238px;
        z-index: 1;
        position: relative;
        padding: 0 150px;
    }
}
.apple {
    background: linear-gradient(to bottom, transparent 30%,#b8cb31 30%);
    border: 10px solid #47271a;
    border-radius: 65px 65px 155px 155px;
    width: 329px;
    height: 232px;
    position: relative;
    border-top: none;
    position: relative;

    &:after{
        right: -9px;
        transform: scale(-1,1);
    }
    &:before{
        left: -9px;
    }
   
    &:before,
    &:after {
        content: '';
        background: $green;
        position: absolute;
        top: -54px;
        width: 196px;
        height: 118px;
        border: 10px solid #47271a;
        border-radius: 117px 99px 0px 0px;
    }

    &__inner {
        position: absolute;
        top: -34px;
        left: 114px;
        width: 54px;
        height: 128px;
        background: $green;
        z-index: 1;
        border-radius: 10px 26px 10px 10px;

        &:before,
        &:after {
            content:  '';
            width: 163px;
            height: 226px;
            top: -1px;
            background: $green;
            position: absolute;
        }
        &:before {
            left: -114px;
            border-radius: 103px 40px 40px 100px;
        }
        &:after {
            border-radius: 106px 223px 295px 0px;
            right: -161px;
            height: 276px;
            top: -10px;
            box-shadow: inset -28px -6px 0 -7px $green-shadow;
        }
    }

    &__highlight {
        border: 15px solid $green-highlight;
        position: absolute;
        left: -90px;
        top: 0;
        height: 146px;
        width: 100px;
        border-radius: 100%;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: transparent;
        transform: rotate(34deg);

        &:before,
        &:after {
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
            border-radius: 100%;
            background: $green-highlight;
        }
        &:after {
            top: 7px;
            left: 3px
        }
        &:before {
            top: 127px;
            left: 5px;
        }
    }
    &__eye {
        border: 8px solid $brown;
        border-radius: 100%;
        width: 27px;
        height: 25px;
        background: #fdffc0;
        position: absolute;
        top: 60px;
        z-index: 1;

        &:before {
            content: '';
            bottom: -8px;
            height: 8px;
            background: $brown;
            left: -13px;
            right: -14px;
            position: absolute;
            border-radius: 7px;
        }

        &--right {
            right: 54px;
        }
        &--left {
            left: 54px;
        }
    }
    &__mouth {
        background: $brown;
        position: absolute;
        left: 111px;
        top: 116px;
        width: 87px;
        height: 27px;
        border-radius: 20px 20px 100px 100px;
        border: 10px solid $brown;
        z-index: 1;
    }
}
.holes{
    position: absolute;
    top: -75px;
    left: 365px;
    width: 153px;
    height: 145px;
    z-index: 1;
}
.hole {
    position: absolute;
    border-radius: 100%;
    border: 10px solid #47271a;
    background: $back;
    width: 146px;
    height: 108px;
    transform: rotate(35deg);
    top: -12px;
    left: -1px;

    &:before {
        content: '';
        position: absolute;
        background: $back;
        top: -32px;
        left: -19px;
        width: 183px;
        height: 109px;
        transform: rotate(1deg);
    }
}